@page "/List"
@using BlazorApp2.Models
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Game Catalog</PageTitle>


<h3>Component</h3>

<h1> Game Catalog</h1>

<div class="row mb-4">
    <div class="col sb-6">
        <button type="button" class="btn btn-primary" @onclick ="HandleAddGame">Add Game</button>
    </div>
</div>

@if (games is null)
{
    <p><em>loading ...</em></p>
}
else
{
    <table class=" table table-striped table-bordered table-hover">
        <thead class="table-dark">
        <th>Id</th>
        <th>Name</th>
        <th>Genera</th>
        <th>price</th>
        <th>Release Date</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td> @game.Id</td>
                    <td> @game.Name</td>
                    <td> @game.Genere</td>
                    <td> @game.Price</td>
                    <td> @game.ReleaseDate.ToString("MM/dd/yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ListItem>? games;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        games = GameClient.GetGames();
    }

    private void HandleAddGame()
    {
        NavigationManager.NavigateTo("/game");

    }
}
